@page
@model Me.Pages.ContactModel
@{
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
	<title>تماس با من</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="address=no"/>
	<meta name="author" content="EhsanSeyedzadeh" />
	<meta name="description" content="EhsanSeyedzadeh" />

	<!-- Open Graph data -->
	<meta property="og:title" content="ArtTemplate" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="your url website" />
	<meta property="og:image" content="assets/images/social.html" />
	<meta property="og:description" content="EhsanSeyedzadeh" />
	<meta property="og:site_name" content="EhsanSeyedzadeh" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="assets/styles/vendors/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/rtl.css"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">

                <aside class="col-12 col-md-12 col-xl-3">
				    <div class="sidebar box-outer sticky-column">
						<div >
							<div class="social" style="text-align: center;" >
								<a class="social__link" href="https://wa.me/message/BEHXEKK4AKLVI1" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
								<a class="social__link" href="https://t.me/ehsan_sz73" target="_blank"><i class="fa fa-telegram fa-2x"></i></a>
								<a class="social__link" ><i class="fa fa-skype fa-2x"></i></a>
								<a class="social__link" href="https://www.instagram.com/ehsan_sz73/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
								<a class="social__link" href="https://ir.linkedin.com/in/ehsan-seyedzadeh-a53b9b23b" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
								<a class="social__link" href="https://github.com/EhsanSZ" target="_blank"><i class="fa fa-github fa-2x"></i></a>		
							</div>
						</div>	
					</div>	
		        </aside>
		        
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer">

						<div class="nav-container">
							<ul class="nav">
								<li class="nav__item"><a asp-page="Index">درباره من</a></li>
								<li class="nav__item"><a asp-page="Resume">رزومه من</a></li>
								<li class="nav__item"><a asp-page="Portfolio">نمونه کار ها</a></li>
								<li class="nav__item"><a asp-page="Blog">وبلاگ</a></li>
								<li class="nav__item"><a asp-page="Contact" class="active">تماس با من</a></li>
							</ul>
						</div>
						
						<div class="pb-0 pb-sm-2">
		                    <h2 class="title title--h2 title__separate">تماس با من</h2>
					    </div>

						<h3 class="title title--h3">فرم تماس با من</h3>

						<form id="contact-form" class="contact-form" data-toggle="validator">
                            <div class="row">
				                <div style="margin-top:20px ;" class="form-group col-12 col-md-6">
                                    <input type="text" class="input form-control" id="nameContact" name="nameContact" placeholder="نام و نام خانوادگی" required="required" autocomplete="on" oninvalid="setCustomValidity('در صورتی که مشخصات را وارد نکنید پیام به صورت ناشناس برای من ارسال خواهد شد')" onkeyup="setCustomValidity('')">
								    <div class="help-block with-errors"></div>
				                </div>
				                <div class="form-group col-12 col-md-12">
                                    <textarea style="margin-top:20px ;" class="textarea form-control" id="messageContact" name="messageContact" placeholder="پیام..."  rows="4" required="required" oninvalid="setCustomValidity('لطفا پیام خود را وارد کنید.')" onkeyup="setCustomValidity('')"></textarea>
								    <div class="help-block with-errors"></div>
				                </div>
						    </div>
							<div class="row">
				                <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-start">
					                <div id="validator-contact" class="hidden"></div>
				                </div>
				                <div class="col-12 col-md-6 order-1 order-md-2 text-end">
					                <button type="submit" class="btn"><i class="font-icon icon-send"></i> ارسال پیام</button>
				                </div>
			                </div>
		                </form>
					</div>
		        </div>
			</div>
		</div>
    </main>

    <div class="back-to-top"></div>

	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/common.js"></script>


</body>
</html>
