@page
@model IndexModel
@{
   
}



<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
	<title>احسان سیدزاده Ehsan Seyedzadeh</title>
	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="author" content="EhsanSeyedzadeh" />
    <meta name="description" content="EhsanSeyedzadeh" />

    <!-- Open Graph data -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="Ehsansz.ir" />
    <meta property="og:image" content="assets/images/social.html" />
    <meta property="og:description" content="EhsanSeyedzadeh" />
    <meta property="og:site_name" content="EhsanSeyedzadeh" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.png" type="image/png">

	<meta name="keywords" content="Ehsan,Seyedzadeh,احسان,سیدزاده" />
    <meta name="description" content="احسان سیدزاده" />

	<link rel="stylesheet" type="text/css" href="assets/styles/vendors/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/rtl.css"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="theme-color" content="#000000"/>
</head>
<body>
    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">

                <aside class="col-12 col-md-12 col-xl-6">
				    <div class="sidebar box-outer sticky-column">

						<div class="sidebar__base-info">
					    	<figure class="avatar-box">
                                <img src="assets/pic/Ehsan1.jpg" alt="احسان سیدزاده">
						    </figure>

						    <div class="text-xl-center" style="margin-right:3px ;">
						        <h3 style="margin-right:7px "; class="title title--h3 sidebar__name">احسان سیدزاده</h3>
							    <div style="display: block ;" class="badge">برنامه نویس تحت وب</div>
						    </div>
							
							
						</div>

						<div class="sidebar__additional-info">
							<div class="separation"></div>
		                    <ul class="details-info">

							    <li class="details-info__item">
							        <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">ایمیل</span>
									    <a class="text-overflow" href="mailto:Email@Ehsansz.ir" title="Email@Ehsansz.ir">Email@Ehsansz.ir</a>
								    </div>
							    </li>

						 	    <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-user"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">تخصص</span>
							            <span class="text-overflow" title="">Back-End Developer</span>
								    </div>	
							    </li>

					            <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-calendar"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">تاریخ تولد</span>
							            <span class="text-overflow" title="9 خرداد 1400">31 مرداد 1373</span>
								    </div>
							    </li>

						        <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">موقعیت مکانی</span>
									    <span class="text-overflow" title="ایران ، تهران">ایران ، تهران</span>
								    </div>
							    </li>
					        </ul>
						    <div class="separation d-xl-none"></div>
						</div>	
					</div>	
		        </aside>
		        

		        <div class="col-12 col-md-12 col-xl-12">
				    <div class="box-outer">

						<div class="nav-container">
						    <ul class="nav">
								<li class="nav__item"><a class="active" asp-page="Index">درباره من</a></li>
								<li class="nav__item"><a asp-page="Resume">رزومه من</a></li>
								<li class="nav__item"><a asp-page="Portfolio">نمونه کار ها</a></li>
								<li class="nav__item"><a asp-page="Blog">وبلاگ</a></li>
								<li class="nav__item"><a asp-page="Contact">تماس با من</a></li>
                            </ul>
						</div>
						<div class="social" >
							<a class="social__link" href="https://wa.me/message/BEHXEKK4AKLVI1" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
							<a class="social__link" href="https://t.me/ehsan_sz73" target="_blank"><i class="fa fa-telegram fa-2x"></i></a>
							<a class="social__link" ><i class="fa fa-skype fa-2x"></i></a>
							<a class="social__link" href="https://www.instagram.com/ehsan_sz73/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
							<a class="social__link" href="https://ir.linkedin.com/in/ehsan-seyedzadeh-a53b9b23b" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
							<a class="social__link" href="https://github.com/EhsanSZ" target="_blank"><i class="fa fa-github fa-2x"></i></a>		
						</div>
					</div>
		        </div>
			</div>
		</div>
    </main>

	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/common.js"></script>

</body>
</html>

