@page
@model Me.Pages.PortfolioModel
@{
}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
	<title>نمونه کارها</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="address=no"/>
	<meta name="author" content="Ehsan_Seyedzadeh" />
	<meta name="description" content="Ehsan Seyedzadeh" />

	<!-- Open Graph data -->
	<meta property="og:title" content="ArtTemplate" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="ehsansz.ir" />
	<meta property="og:image" content="assets/images/social.html" />
	<meta property="og:description" content="Ehsan Seyedzadeh" />
	<meta property="og:site_name" content="Ehsan Seyedzadeh" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="assets/styles/vendors/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/rtl.css"/>
	
	<meta name="theme-color" content="#000000"/>
</head>
<body>
    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">
   
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer pb-0">
						<div class="nav-container">
							<ul class="nav">
								<li class="nav__item"><a asp-page="Index">درباره من</a></li>
								<li class="nav__item"><a asp-page="Resume">رزومه من</a></li>
								<li class="nav__item"><a asp-page="Portfolio" class="active">نمونه کار ها</a></li>
								<li class="nav__item"><a asp-page="Blog">وبلاگ</a></li>
								<li class="nav__item"><a asp-page="Contact">تماس با من</a></li>
							</ul>
						</div>
						
						<div class="pb-3">
		                    <h1 class="title title--h1 title__separate">نمونه کار ها</h1>
					    </div>

                        <div class="select">
			                <span class="placeholder">انتخاب دسته بندی</span>
			                <ul class="filter">
			                    <li class="filter__item">Category</li>
				                <li class="filter__item active" data-filter="*"><a class="filter__link active" href="#filter">همه</a></li>
				                <li class="filter__item" data-filter=".Backend"><a class="filter__link" href="#filter">سمت سرور (Back-End)</a></li>
				                <li class="filter__item" data-filter=".Database"><a class="filter__link" href="#filter">پایگاه داده (Database)</a></li>
								<li class="filter__item" data-filter=".Frontend"><a class="filter__link" href="#filter">سمت کاربر (Front-End)</a></li>
			                </ul>
			                <input type="hidden" name="changemetoo"/>
		                </div>

						<div class="gallery-grid js-masonry js-filter-container" style="text-align: left;">
							<div class="gutter-sizer"></div>

							<div class="gallery-grid__item Backend">
								<a asp-page="Portfolio" asp-page-handler="Shop1">
								    <div class="gallery-grid__image-wrap">
                                        <img class="gallery-grid__image cover lazyload" src="assets/pic/1.jpg" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
									    <h3 class="title gallery-grid__title"><span class="gallery-grid__category" style="display: inline-block ; color: bisque;">1401/05/21</span> Shop1</h3>
									    <span class="gallery-grid__category">Onion Architecture . Razor Pages </span>
									</div>
								</a>
							</div>
                            
							<div class="gallery-grid__item Backend" style="text-align: left;">
								<a onclick="msg()">
								    <div class="gallery-grid__image-wrap">
                                        <img class="gallery-grid__image cover lazyload" src="assets/pic/3.jpg" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
										<h3 class="title gallery-grid__title"><span class="gallery-grid__category" style="display: inline-block ; color: bisque;">1401/07/10</span> Shop2</h3>
									    <span class="gallery-grid__category">Clean Architecture . MVC . NoSQL  </span>
									</div>
								</a>
							</div>
                            
							<div class="gallery-grid__item Backend" style="text-align: left;">
								<a onclick="msg()">
								    <div class="gallery-grid__image-wrap">
                                        <img class="gallery-grid__image cover lazyload" src="assets/pic/2.jpg" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
										<h3 class="title gallery-grid__title"><span class="gallery-grid__category" style="display: inline-block ; color: bisque;">1401/07/25</span> TDD  BDD</h3>
									    <span class="gallery-grid__category">Test-Driven Development</span>
									</div>
								</a>
							</div>

							<div class="gallery-grid__item Backend" style="text-align: left;">
								<a onclick="msg()">
								    <div class="gallery-grid__image-wrap">
                                        <img class="gallery-grid__image cover lazyload" src="assets/pic/6.png" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
										<h3 class="title gallery-grid__title"><span class="gallery-grid__category" style="display: inline-block ; color: bisque;">1401/06/15 </span> API</h3>
									    <span class="gallery-grid__category">RESTful API</span>
									</div>
								</a>
							</div>

							<div class="gallery-grid__item Database" style="text-align: left;">
								<a asp-page="Portfolio" asp-page-handler="SQL">
								    <div class="gallery-grid__image-wrap">
                                        <img class="gallery-grid__image cover lazyload" src="assets/pic/s3.jpg" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
										<h3 class="title gallery-grid__title"><span class="gallery-grid__category" style="display: inline-block ; color: bisque;">1401/05/30 </span> SQL</h3>
									    <span class="gallery-grid__category">T-SQL Programming</span>
									</div>
								</a>
							</div>

							<div class="gallery-grid__item Database" style="text-align: left;">
								<a onclick="msg()">
								    <div class="gallery-grid__image-wrap">
                                        <img class="gallery-grid__image cover lazyload" src="assets/pic/11.png" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
										<h3 class="title gallery-grid__title"><span class="gallery-grid__category" style="display: inline-block ; color: bisque;">1401/07/30 </span> NoSQL</h3>
									    <span class="gallery-grid__category">Redis . MongoDB</span>
									</div>
								</a>
							</div>
						</div>
					</div>
		        </div>
			</div>
		</div>
    </main>

    <div class="back-to-top"></div>


	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/common.js"></script>

		<script>
	function msg(){ 
		alert("بعد از پیشرفت نسبی پروژه سورس کد های آن در گیت هاب و توضیحات را قرار خواهم داد");
    }
	</script>

    
</body>
</html>
