@page
@model Me.Pages.ResumeModel
@{
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <title>رزومه من</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="address=no"/>
	<meta name="author" content="EhsanSeyedzadeh" />
	<meta name="description" content="EhsanSeyedzadeh" />

	<!-- Open Graph data -->
	<meta property="og:title" content="ArtTemplate" />
	<meta property="og:type" content="Ehsansz.ir" />
	<meta property="og:url" content="your url website" />
	<meta property="og:image" content="assets/images/social.html" />
	<meta property="og:description" content="EhsanSeyedzadeh" />
	<meta property="og:site_name" content="EhsanSeyedzadeh" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="assets/styles/vendors/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/rtl.css"/>
	
	<meta name="theme-color" content="#000000"/>
</head>
<body class="bg-triangles">
    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">

                <aside class="col-12 col-md-12 col-xl-3">

		        </aside>
		        
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer">

						<div class="nav-container">
							<ul class="nav">
								<li class="nav__item"><a asp-page="Index">درباره من</a></li>
								<li class="nav__item"><a asp-page="Resume" class="active">رزومه من</a></li>
								<li class="nav__item"><a asp-page="Portfolio">نمونه کار ها</a></li>
								<li class="nav__item"><a asp-page="Blog">وبلاگ</a></li>
								<li class="nav__item"><a asp-page="Contact">تماس با من</a></li>
							</ul>
						</div>

						<div class="pb-3">
		                    <h1 class="title title--h1 title__separate">رزومه</h1>
					    </div>


						<div class=" progress-text"style="text-align:center;"><h4>Back-End</h4></div>
						<div class=" box box-inner mb-0" >

							<div class="progress">
								<div style="text-align: center;" class="progress-text"><span>C# . ORM . OOP . SOLID . Design Pattern </span></div>
                            </div>

							<div class="progress">
								<div style="text-align: center;" class="progress-text"><span>ASP.NET Core . Razor Page . API </span></div>
                            </div>

							<div class="progress">
								<div style="text-align: center;" class="progress-text"><span>Test-Driven Development</span></div>
                            </div>

							<div class="progress">
								<div style="text-align: center;" class="progress-text"><span>Onion Architecture . Clean Architecture </span></div>
                            </div>

							<div class="progress">
								<div style="text-align: center;" class="progress-text"><span>Domain-Driven Design</span></div>
                            </div>
						</div>


						<br>

							<div class="progress-text" style="text-align:center ;"><h4>Database</h4></div>
							
							<div class="box box-inner mb-0">
	
								<div class="progress">
									<div style="text-align: center;" class="progress-text"><span>Database Design</span></div>
								</div>
	
								<div class="progress">
									<div style="text-align: center;" class="progress-text"><span>T-SQL Programming</span></div>
								</div>
	
								<div class="progress">
									<div style="text-align: center;" class="progress-text"><span>NoSQL . Redis . MongoDB</span></div>
								</div>
	
							</div>

							<br>


							<div class="progress-text"style="text-align:center ;"><h4>Front-End</h4></div>
								<div class="box box-inner mb-0">
		
									<div class="progress">
										<div style="text-align: center;" class="progress-text"><span>HTML  CSS . Bootstrap</span></div>
									</div>
		
		
									<div class="progress">
										<div style="text-align: center;" class="progress-text"><span>JavaScript . jQuery</span></div>
									</div>	
		
								</div>


								<br>
								<br>
		
						<h2 class="title title--h2"><span class="box icon-box"><i class="font-icon feathericon-book-open"></i></span>تحصیلات</h2>
						<div class="timeline">

							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">دانشگاه انفورماتیک - مهندسی فناوری اطلاعات</h5>
								<span class="timeline__period">1399 — 1403</span>
								<p class="timeline__description">گرایش برنامه نویسی تحت وب</p>
							</article>

							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">متوسطه - کامپیوتر</h5>
								<span class="timeline__period">1396 — 1398</span>
								<p class="timeline__description">گرایش برنامه نویسی پایگاه داده</p>
							</article>

						</div>

					</div>
		        </div>
			</div>
		</div>
    </main>

    <div class="back-to-top"></div>	


	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/common.js"></script>

</body>
</html>