@*
   
*@
@{
}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
	<title>پروژه برنامه نویسی پایگاه داده</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="address=no"/>
	<meta name="author" content="EhsanSeyedzadeh" />
	<meta name="description" content="Ehsan Seyedzadeh" />

	<!-- Open Graph data -->
	<meta property="og:title" content="ArtTemplate" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="ehsansz.ir" />
	<meta property="og:image" content="assets/images/social.html" />
	<meta property="og:description" content="ehsan seyedzadeh" />
	<meta property="og:site_name" content="ehsan seyedzadeh" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.png" type="image/png">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="assets/styles/vendors/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/rtl.css"/>
	
	<meta name="theme-color" content="#000000"/>
</head>
<body>

    <div class="scroll-line"></div>

    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">
		        
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer">

						<div class="nav-container">
							<ul class="nav">
								<li class="nav__item"><a asp-page="Index">درباره من</a></li>
								<li class="nav__item"><a asp-page="Resume">رزومه من</a></li>
								<li class="nav__item"><a asp-page="Portfolio" class="active">نمونه کار ها</a></li>
								<li class="nav__item"><a asp-page="Blog">وبلاگ</a></li>
								<li class="nav__item"><a asp-page="Contact">تماس با من</a></li>
							</ul>
						</div>
						
						<div class="pb-3">
		                    <h1 class="title title--h1 title__separate">نمونه کار</h1>
					    </div>


						<a class="btn-back" asp-page="Portfolio"><i class="feathericon-arrow-right"></i>بازگشت به نمونه کار ها</a>
						<br>
						<br>
						<header class="header-project">
                            <h1 class="title title--h1">T-SQL Programming</h1>

						</header>

						<ul class="details-info details-info--inline">


							<li class="details-info__item" style="margin-left:55px ;">
								<span class="box icon-box"><i class="font-icon feathericon-layers"></i></span>
								<div class="details-info__info">
									<span class="overhead">دسته بندی</span>
									Database  
								</div>
							</li>

							<li class="details-info__item" style="margin-left:30px ;">
								<span class="box icon-box"><i class="font-icon icon-calendar"></i></span>
								<div class="details-info__info">
									<span class="overhead">تاریخ</span>
									1401/05/30
								</div>
							</li>

							<li class="details-info__item" style="margin-left:52px ;">
								<span class="box icon-box"><i class="font-icon feathericon-github"></i></span>
								<a href="https://github.com/EhsanSZ/SQL" target="_blank">
								<div class="details-info__info">
									گیت هاب
								</div>
							  </a>
							</li>


							<li class="details-info__item">
								<span class="box icon-box"><i class="font-icon feathericon-download"></i></span>
								<a href="https://uupload.ir/view/t-sql_h0v6.zip/" target="_blank">
								<div class="details-info__info">
									دانلود
								</div>
							  </a>
							</li>

						</ul>

						<p>حالت های مختلف کوئری در یک پایگاه داده بر روی یک دیتابیس مربوط به فروش</p>
						<p>مباحث Window Function و Columnstore Index به زودی آپدیت خواهد شد</p>

						<p style="text-align:center;">
							CASE .OFFSET FETCH . 3VL<br>
							String Function . Date Time Function <br>
							GROUP BY . Aggregate Functions <br>
							ROLLUP . CUBE . GROUPING SET  <br>
                            CROSS JOIN . SELF JOIN <br>
							INNER JOIN . OUTER JOIN <br>
							Composite Join . Non-Equi Join <br>
							UNION . INTERSECT . EXCEPT <br>
							Self-Contained : Scalar-Valued Multi-Valued <br>
							Correlated Subquery . EXISTS <br>
							Derived Table <br>
							CTE Non-Recursive . Recursive<br>
							Scalr-Value FUNCTION <br>
							Inline Table-Value FUNCTION <br>
							INSERT DELETE UPDATE <br>
							MERGE OUTPUT<br>
							Multi Statement Table-Value FUNCTION <br>
							APPLY . Variable . Batches  <br>
							Flow_Control . Temporary Table<br>
							Dynamic T-SQL <br>
							Stored Procedure <br>
							Plan Cache <br>
						</p>
					</div>
		        </div>
			</div>
		</div>
    </main>
    


    <div class="back-to-top"></div>	


	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/common.js"></script>


</body>
</html>